<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.falbookv4.helloteam.falbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Classes.Falbook"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Activities.AnasayfaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ToolbarActivity"
            android:label="@string/title_activity_toolbar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.KafeActivity"
            android:label="@string/title_activity_kafe"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".FalciSec.FalcilarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GelenfallarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FaldetayActivity"
            android:parentActivityName=".GelenfallarActivity" />
        <activity android:name=".Activities.KayitActivity" />
        <activity android:name=".Activities.GirisActivity" />
        <activity
            android:name=".Activities.ProfilActivity"
            android:parentActivityName=".Activities.AnasayfaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SifredegistirActivity"
            android:label="@string/sifre_degistir"
            android:parentActivityName=".Activities.AnasayfaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.FalbookhakkindaActivity"
            android:parentActivityName=".Activities.AnasayfaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SSSActivity"
            android:parentActivityName=".Activities.AnasayfaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.IletisimActivity"
            android:parentActivityName=".Activities.AnasayfaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SatinalActivity"
            android:parentActivityName=".Activities.AnasayfaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.MisafiruyeActivity" />
        <activity android:name=".FragmentFalciSec.PagerfalcilarActivity"></activity>
    </application>

</manifest>